.appointment-form {
    background-color: #f8f9fa; /* Light background for better visibility */
    border: 1px solid #ced4da; /* Light border */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 1rem; /* Spacing inside the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 550px; /* Max width for larger screens */
    margin: auto; /* Centering the form */
    height: 700px;
}
@media (max-width: 576px) {
    .appointment-form {
        padding: 3rem; /* Adjust padding for smaller screens */
    }
}
.navbar{
    background-color:#ffffff;
}