body {
    background-color: #32B7B7;
  }

  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-brand img {
    height: 50px;
    width: auto;
  }

  .appointment-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .appointment-form h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #17a2b8;
  }

  .form-control {
    border-radius: 10px;
    padding: 10px;
  }

  button[type="submit"] {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  button[type="submit"]:hover {
    background-color: #138f9a;
  }

  footer {
    background-color: #17a2b8;
    color: white;
    padding: 20px;
    text-align: center;
  }
